:root {
    --hv-color : rgb(253, 163, 163);
    --m-color: rgb(68, 0, 0);
    --theme: rgb(255, 226, 226);
    --theme-inv: rgb(105, 64, 64);
    --mid-text: rgb(150,150,150);
}

html {
    scroll-behavior: smooth;
}
.main-page {
    display: flex;
    flex-direction: column;
    height: 500%;
}

* {
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
}

.fixed-nav {
    background-color: rgb(from var(--m-color) r g b / 0.7);
    backdrop-filter: blur(20px);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
    z-index: 999;
}

.fixed-nav div {
    color : var(--hv-color);
    text-align: center;
    font-size: 2.5vh;
}
.control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.control a {
    text-decoration: none;
    color: var(--hv-color);
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.control a:hover {
    color: var(--theme);
}

button {
    transition: 0.5s;
    cursor: pointer;
}

.bhvr:hover {
    transform: scale(1.1);
}

.mp {
    display: flex;
    background: linear-gradient(0deg,var(--theme) 0%, var(--hv-color) 80% , var(--hv-color) 100%);
    font-size: 3.2vh;
    align-items: center;
    color: var(--theme-inv);
    height: 100vh;
}
.card {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}
.hvr {
    transition: 0.4s;
}

.hvr:hover {
    transform: scale(1.02);
}

.glass {
    border: rgba(0,0,0,0) solid;
    border-width: 4px, 4px, 1px, 1px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--m-color);
    background: linear-gradient(0deg,rgb(from var(--theme) r g b / 0.8) 0%, rgb(from var(--hv-color) r g b / 0.3) 200%) padding-box,
    linear-gradient(30deg,rgb(from var(--m-color) r g b / 0.2) -20%, rgba(255, 255, 255, 0.8) 49%, rgb(from var(--m-color) r g b / 0.2) 120%) border-box;
    box-shadow: 0 0 50px 15px rgb(from var(--m-color) r g b / 0.15)

}
.red-glass {
    background: linear-gradient(0deg,rgb(from var(--theme) r g b / 0.8) 0%, rgb(from var(--hv-color) r g b / 0.3) 200%) padding-box,
    linear-gradient(10deg,rgb(from var(--m-color) r g b / 0.2) -20%, rgb(from var(--m-color) r g b / 0.8) 49%, rgb(from var(--m-color) r g b / 0.2) 120%) border-box;
}
.deg10 {
    background: linear-gradient(0deg,rgb(from var(--theme) r g b / 0.8) 0%, rgb(from var(--hv-color) r g b / 0.3) 200%) padding-box,
    linear-gradient(10deg,rgb(from var(--m-color) r g b / 0.2) -20%, rgba(255, 255, 255, 0.8) 49%, rgb(from var(--m-color) r g b / 0.2) 120%) border-box;
}

.scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-scroll-snap-type: x mandatory; 
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll p {
    scroll-snap-align: center;
    z-index: 99;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(from var(--theme-inv) r g b / 0.5);
    cursor: pointer;
}

h1 p {
    color: var(--mid-text);
    font-size: 2vh;
}